/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BACKGROUND GRADIENT */
body {
  background: linear-gradient(135deg, #1a1a2e, #16213e);
  color: white;
  transition: 0.5s;
}

/* GLASS EFFECT */
.glass {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  margin: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

/* TOGGLE BUTTON */
.toggle-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  background: white;
  color: black;
  padding: 10px;
  margin-top: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  z-index: 999;
}

/* NAVBAR */
header {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero span {
  color: #00eaff;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  padding: 12px 20px;
  background: #00eaff;
  color: black;
  text-decoration: none;
  border-radius: 8px;
}

/* ANIMATIONS */
.fade-in {
  opacity: 0;
  animation: fade 1.5s forwards;
}

@keyframes fade {
  to { opacity: 1; }
}

/* SKILLS */
.skill-box {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.skill-box span {
  background: rgba(255,255,255,0.2);
  padding: 10px 18px;
  border-radius: 10px;
}

/* PROJECT CARDS */
.project-card {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.project-card a {
  color: #00eaff;
  text-decoration: none;
  font-weight: bold;
}

/* CONTACT */
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 10px;
}

.contact-form button {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: #00eaff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* LIGHT MODE */
.light-mode {
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
  color: black;
}

.light-mode .glass {
  background: rgba(0,0,0,0.05);
  color: black;
}

.light-mode a {
  color: #0055ff;
}
.about-content {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.about-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgba(255,255,255,0.3);
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}
